body {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
}

main {
	width: 40vw;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-black);
	border-radius: 50px;
}

hr {
	width: 25rem;
	height: .5px;
	margin: 40px;
	color: var(--white);
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	font-size: 2.5rem;
	color: var(--white);
}

.inputs {
	margin: 0 0 35px 0;

	.input {
		margin: 15px;
		display: flex;
		flex-direction: column;

		label {
			margin: 10px 5px;
			font-size: 1.15rem;
			color: var(--white);
		}

		input {
			width: 20rem;
			height: 3.5rem;
			border-radius: 10px;
			border: 1px solid var(--thirty-black);
			padding: 0 10px 0 10px;
		}
	}
}
