:root {
	--color1: #2a52d6;
	--color2: #8c0dbe;
	--color3: #db14ff; 
	--primary-black: #454545; 
	--secondary-black: #686868; 
	--thirty-black: #252525;
	--white: #f4f4f4;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background: linear-gradient(180deg, var(--color1), var(--color2), var(--color3));
}

.hide {
	opacity: 0 !important;
}

.collapse {
	display: none;
}

.margin-bottom {
	margin-bottom: 15px;
}

.message {
	background-color: var(--thirty-black);
	opacity: .85;
	color: orange;
	font-weight: bold;
	padding: 5px 25px;
	border-radius: 15px;
	position: absolute;
	top: 50px;
	transition: 200ms;
}