:root {
	--color1: #2a52d6;
	--color2: #8c0dbe;
	--color3: #db14ff; 
	--primary-black: #454545; 
	--secondary-black: #686868; 
	--thirty-black: #252525;
	--white: #f4f4f4;
}

* {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background: linear-gradient(180deg, var(--color1), var(--color2), var(--color3));
}

.btn-submit {
	width: 18rem;
	height: 3.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	background: linear-gradient(135deg, var(--color1), var(--color2));
	color: var(--white);
	border-radius: 40px;
	transition: 1s;
	border: none;
	margin: 10px;
}

.btn-submit:hover {
	cursor: pointer;
	transform: scale(.95);
}

.hide {
	opacity: 0 !important;
}

.collapse {
	display: none;
}

.margin-bottom {
	margin-bottom: 15px;
}

.message {
	background-color: var(--thirty-black);
	opacity: .85;
	color: orange;
	font-weight: bold;
	padding: 5px 25px;
	border-radius: 15px;
	position: absolute;
	top: 50px;
	transition: 200ms;
}

.error {
	border-color: red !important;
	border-width: 2px !important	;
}