:root {
	--content-w: 40%;
	--content-h: 93%;
}

body {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: var(--white);
}

main {
	display: grid;
	grid-template-columns: 100% 100%;
	transition: 1s;
}

input[type=submit] {
	width: 18rem;
	height: 3.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	background: linear-gradient(135deg, var(--color1), var(--color2));
	color: var(--white);
	border-radius: 40px;
	transition: 1s;
	border: none;
	margin: 10px;
}

input[type=submit]:hover {
	cursor: pointer;
	transform: scale(.95);
}

hr {
	width: 25rem;
	height: .5px;
	margin: 40px;
	color: var(--white);
}

#left {
	width: var(--content-w);
	height: var(--content-h);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);

	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		img {
			width: 18rem;
			aspect-ratio: 1	;
			border-radius: 15px;
			margin: 15px;
		}

		h1 {
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			font-size: 2.5rem;
			margin: 15px;
		}

		p {
			width: 100%;
			text-align: center;
			margin: 15px;
		}
	}
}

#rigth {
	width: var(--content-w);
	height: var(--content-h);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-black);
	border-radius: 50px;
	overflow: hidden;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	font-size: 2.5rem;
	color: var(--white);
}

.inputs {
	margin: 0 0 35px 0;

	.input {
		margin: 15px;
		display: flex;
		flex-direction: column;

		label {
			margin: 10px 5px;
			font-size: 1.15rem;
			color: var(--white);
		}

		input {
			width: 20rem;
			height: 3.5rem;
			border-radius: 10px;
			border: 1px solid var(--thirty-black);
			padding: 0 10px 0 10px;
		}
	}
}

.link {
	color: var(--color3);
}

.link:hover {
	cursor: pointer;
	color: var(--color2);
}

.deslocate {
	transform: translateX(-100%);
}

.alocate {
	transform: translateX(100%);
}
