.post {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 8px 0 20px 0;
}

.post-head {
	width: 100%;
	height: 4.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post-user {
	height: 100%;
	display: flex;
	align-items: center;

	img, p {
		margin: 0 0 0 15px;
	}

	p a {
		color: var(--white);
		text-decoration: none;
	}
}

.post-options {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 10px;

	svg {
		width: 40px;
		aspect-ratio: 1;
	}

	ul {
		position: absolute;
		background-color: var(--thirty-black);

		li {
			list-style-type: none;
		}
	}
}

.post-body {
	width: 100%;
	max-height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	p {
		height: fit-content;
		width: 80%;
		max-height: 5rem;
		display: block;
		padding: 0 15px;
		font-size: .9rem;
		text-wrap: wrap;
		word-wrap: break-word;
		overflow: scroll;
		scrollbar-width: thin;
	}

	img {
		width: 0;
	}

	img[src*="instik"] {
		width: 70%;
		aspect-ratio: 1;
		object-fit: cover;
		object-position: center;
	}
}

.post-iteractions {
	width: 75%;
	display: flex;
	margin: 10px 0;
	justify-content: space-between;
	align-items: center;

	button {
		background: none;
		border: none;
	}

	svg {
		width: 40px;
		aspect-ratio: 1;
	}

	svg:hover {
		cursor: pointer;
	}
}

button[type="like"], button[type="comment"] {
	height: inherit;
	color: var(--white);

	small {
		text-align: center;
		font-size: .9rem;
	}
}

button[liked="true"] svg path {
	fill: red;
}

.post-comment {
	width: 80%;
	max-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding-bottom: 20px;
	background-color: var(--thirty-black);
	border-radius: 20px;
	overflow: scroll;
}

.post-comment > div {
	width: 100%;
}

.commenter {
	width: calc(100% - 20px);
	height: 70px;
	display: flex;
	justify-content: center;
	position: relative;

	textarea {
		width: 96%;
		height: 85%;
		padding-top: 10px;
		margin: 0;
	}
}

.commenter .send-comment {
	width: 8%;
	height: 100%;
	position: absolute;
	right: 10px;
	background: none;
	border: none;
}

.commenter .send-comment:hover {
	cursor: pointer;
}

.comment {
	width: calc(100% - 10px);
	display: block;
	overflow: scroll;
	margin-left: 10px;
}

.comment-user {
	display: flex;
	align-items: center;
	height: 45px;

	small {
		margin: 0 0 0 10px;
	}
}

.comment-content {
	padding: 0 20px;

	small {
		display: block;
		max-height: 3rem;
		word-wrap: break-word;
		margin: 0;
	}
}

.comment-replies {
	width: 100%;
	margin: 5px 0;
	margin: 0 0 0 15px;
	border-left: 1px solid var(--secondary-black);
}