.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

body {
    background: rgb(15,76,92);
    background: linear-gradient(140deg, rgba(15,76,92,1) 9%, rgba(95,15,64,1) 74%, rgba(154,3,30,1) 100%);
    background-size: auto auto;
    background-attachment: fixed;
}

.body-register {
    color: #212529 !important;
}

.button {
    width: 20vw;
}

.button:hover{
    scale: 1.1;
}

.bg-button-register {
    color: #d3d3d3 !important;
    border-color: transparent !important;
    background-color: transparent !important;
    margin: 20px !important;
    margin-top: 4vh !important;
}

.font {
    font-family: Arvo;
    color: #d3d3d3 !important;
}

.align-center{
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.width-initial-text {
    max-width: 40vw;
    height: auto;
}

.information {
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: red;
    background-color: gainsboro;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0px 0px 10px red;
    visibility: hidden;
    animation: information 3s;
}

@keyframes information{
    0%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

.instikcolor{
    color:#e36414;
}

.input{
    width: 30vw;
}

button[type="submit"]{
    margin-top: 20px;
}

.register-espace{
    margin: 20px !important;
    margin-top: 4vh !important;
}

.form{
    width: fit-content!important;
    padding: 10px;
}

.back{
    width: fit-content;
    height: auto;
    background: transparent;
    border-color: transparent;
    color: #d3d3d3 !important;
    text-decoration-color: transparent !important;
    margin-top: 50px;
}

.back:hover{
    scale: 1.2;
    animation-name: hover;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0;
    animation-iteration-count: infinite;
}

@keyframes hover {
    0% {
        scale: 1.0;
    }
    50% {
        scale: 1.1;
    }
    100% {
        scale: 1.0;
    }
}
